.card-img-top{
    width: 50%;
    height: 15vw;
    object-fit: cover;
}

.img{
    max-width: 30%;
    max-height: auto;
}

#table{
    background-color: grey;
    text-align: justify;
    color: black;
}
